<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="s_model_open">
  <xacro:include filename="$(find robotiq_3f_gripper_visualization)/urdf/robotiq_3f_fixed.urdf.xacro" />
  <xacro:robotiq_3f_fixed prefix="" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:robotiq_3f_fixed>
  <link name="base_link" />
</robot>
